<h1>How are you feeling today?</h1>

<%= form_with scope: :responses, url: responses_path, local: true do |form| %>
<p>
<%=form.label :"If you had to describe your day as weather report
what would it be like?" %><br>
</p>

<p>
    <%= form.text_area :weather_report %>
  </p>

  <p>
  <%=form.label :"What was the best thing that happened to you today?" %><br>
  </p>

  <p>
      <%= form.text_area :best_thing_today %>
    </p>

    <p>
    <%=form.label :"How did it make you feel?" %><br>
    </p>

    <p>
        <%= form.text_area :feels %>
      </p>

      <p>
      <%=form.label :"Did you have any low points today?(if yes
      please answer the next question)" %><br>
      </p>

      <p>
          <%= form.text_area :any_low_points %>
        </p>

        <p>
        <%=form.label :"What happened?" %><br>
        </p>

        <p>
            <%= form.text_area :what_happened %>
          </p>

          <p>
          <%=form.label :"How are you feeling right now?" %><br>
          </p>

          <p>
              <%= form.text_area :feels_right_now %>
            </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
